<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Revisión Periódica</title>
    <link rel="stylesheet" href="../../../assets/css/photon.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <script src="logic.js" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div id="overlay" class="hidden"></div>
    <div class="window">
        <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Menu</h5>
                        <a class="nav-group-item" href="../explicacion/index.html">
                            <span class="icon icon-help-circled"></span>
                            Explicación
                        </a>
                        <a class="nav-group-item" href="../example/index.html">
                            <span class="icon icon-lamp"></span>
                            Ejemplo
                        </a>
                        <span class="nav-group-item active">
                            <span class="icon icon-graduation-cap"></span>
                            Tabla Z
                        </span>
                        <a class="nav-group-item" href="../calculadora/index.html">
                            <span class="icon icon-share"></span>
                            Calculadora
                        </a>
                    </nav>
                </div>
                <div id="pane" class="pane">
                    <div class="main-content">
                        <h1 class="title"><strong>Tabla Z</strong></h1>
                        <img src="../../../assets/images/tabla-z.jpg" alt="tabla-z.jpg">
                    </div>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 id="directory" class="title"></h1>
        </footer>
    </div>
</body>

</html>