.text {
    font-size: 16px;
    text-justify: auto;
    justify-content: center;
}

.main-content {
    margin: 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    font-size: 20px;
}

img {
    margin-top: 40px;
    margin-bottom: 40px;
}

#pane {
    background-color: #f0f0f0;
}