<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Revisión Periódica</title>
    <link rel="stylesheet" href="../../../assets/css/photon.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <script src="logic.js" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div id="overlay" class="hidden"></div>
    <div class="window">
        <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Menu</h5>
                        <span class="nav-group-item active">
                            <span class="icon icon-help-circled"></span>
                            Explicación
                        </span>
                        <a class="nav-group-item" href="../example/index.html">
                            <span class="icon icon-lamp"></span>
                            Ejemplo
                        </a>
                        <a class="nav-group-item" href="../calculadora/index.html">
                            <span class="icon icon-share"></span>
                            Calculadora
                        </a>
                    </nav>
                </div>
                <div id="pane" class="pane">
                    <div class="main-content">
                        <h1 class="title"><strong>Características de un Sistema de Revisión Periódica de Inventarios o
                                Modelo P
                            </strong></h1>
                        <p class="text">Un sistema de revisión periódica del inventario (conocido también como modelo P)
                            es aquel en el
                            cual el inventario de un ítem es revisado cada intervalos de tiempo fijos, y se realiza una
                            orden por el monto apropiado, es decir, el tamaño de pedido varia con el comportamiento de
                            la
                            demanda. En relación a lo anterior la pregunta relevante es ¿cuánto ordenar?. Una de sus
                            ventajas potenciales es que permite combinar ordenes a un mismo proveedor.

                            El siguiente diagrama permite esquematizar la sistematización de un modelo de gestión de
                            inventarios de revisión periódica o modelo P. En el sistema de periodo fijo, se toma la
                            decisión
                            de hacer un pedido sólo en algunos momentos, como cada semana o cada mes.</p>
                        <img class="center" src="../../../assets/images/proceso-modelo-p.gif"
                            alt="proceso-modelo-p.gif">
                        <p class="text">Generalmente un sistema de revisión periódica exige un nivel más alto de
                            inventario de seguridad en comparación a un sistema de revisión continua (como por ejemplo
                            en el caso del modelo EOQ). En este contexto y para tener una mejor idea de la evolución de
                            los niveles de inventario en el tiempo para el modelo P se presenta el siguiente gráfico:
                        </p>
                        <img class="center" src="../../../assets/images/grafico-modelo-p.gif"
                            alt="grafico-modelo-p.gif">
                        <p class="text"> <strong>Nota:</strong> El tamaño de los pedidos es variable y depende de la
                            cantidad de productos que quedan en el inventaro al momento de emitir el pedido.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 id="directory" class="title"></h1>
        </footer>
    </div>
</body>

</html>